<%= form_for(@cartel) do |f| %>
  <% if @cartel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartel.errors.count, "error") %> prohibited this cartel from being saved:</h2>

      <ul>
      <% @cartel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :sala %><br>
    <%= f.number_field :sala %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
